/*HOJA DE ESTILOS DE DATOS GENERALES*/

#todo{
  background: #FAFAFA;
  height: 100%;
}

.columnaizq{
  float: left;
  padding-top: 2%;
  margin-left: 10%;
}

.columnader{
  float: right;
  padding-top: 7%;
  margin-right: 20%;
}

.titulo2{
    line-height: 1.5;
    color: #000;
    text-align: left;   
    font-size: 30px;
    font-family: Segoe UI Light;
    margin-bottom: 20px;
}

#entidad{
  width: 100%;
}
#id_entidad, #LicMaster{
  width: 20%;
}

#c_institucion{
  width: 40%;
}

#admin_escolar, #rector{
  width: 120%;
}

#l_titulacion, #l_certificacion{
  width: 15em;
}

#certificacion_dia,#titulacion_dia{
  width: 3.5em;
}

#certificacion_mes,#titulacion_mes{
  width: 7em;
}

#certificacion_anio,#titulacion_anio{
  width: 5em;
}

select{
  margin-left: 1em;
}

/*PARA EL BOTON DE REGRESAR*/

#div_regresar{
  float: right;
  width: 125px;
  padding-top: 3%;
  margin-right: 12%;
}

#botonatras{
  background-color: #10151C;
  width: 90px;
  height: 35px;
  float: right;
  position: relative;
}

#iconoatras{
  background-color: #D42B1E;
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
}

#textoatras{
  padding-top: 7px;
  padding-left: 27px;
  font-size: 18px;
  color: #fff;
}

/*PARA EL BOTON DE GUARDAR*/

/*DIV CONTENEDOR*/
#div_guardar{
  position: inherit;
  float: right;
  width: 125px;
  padding-top: 25%;
  *margin-right: 10%;
}

#iconoguardar{
  background-color: #FFB900;
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
}

#botonguardar{
	background-color: #10151C;
	width: 90px;
	height: 35px;
	float: right;
	position: relative;
}

#textoguardar{
	padding-top: 7px;
	padding-left: 14px;
	font-size: 18px;
	color: #fff;
}

#aviso{
  float: left;
  font-size: 18px;
  font-style: Segoe UI;
  font-weight: bold;
  color: green;
  margin-left: 2em;
  margin-top: 1.6em;
}